@import './media-queries.scss'
@import './variables.sass'
$padding: 4rem

.box-image
  align-self: stretch
  overflow: hidden
  height: 300px

  @include media(">=tablet")
    height: 100%

  img
    object-fit: cover
    object-position: bottom right
    margin: 0 auto
    width: 100%
    height: 100%

.box-text
  justify-content: space-between
  overflow-y: scroll

  .box-text-top,
  .box-text-bottom
    padding: $padding
    width: 100%

  @include media(">=tablet")
    display: flex
    flex-direction: column
    height: 100%

  .box-text-bottom
    background-color: $black
    a
      color: $white