@import './mixin.sass'

.fullscreen
  position: absolute
  object-fit: cover
  background-size: cover
  width: 100vw
  height: 100%
  top: 0
  left: 0

.fullHeight
  max-width: 100%

  @include media(">tablet")
    object-fit: contain
    height: 100vh
    object-position: left

.light
  +light

.dark
  +dark