@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dj7am9');
  src:  url('../fonts/icomoon.eot?dj7am9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dj7am9') format('truetype'),
    url('../fonts/icomoon.woff?dj7am9') format('woff'),
    url('../fonts/icomoon.svg?dj7am9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.slick-next,.slick-prev,
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e0b7";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-code:before {
  content: "\e86f";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-insert_comment:before {
  content: "\e24c";
}

.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.slick-prev:before,
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.slick-next:before,
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu2:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-unfold_less:before {
  content: "\e5d6";
}
.icon-unfold_more:before {
  content: "\e5d7";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e911";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-crop:before {
  content: "\e908";
}
.icon-cross:before {
  content: "\e909";
}
.icon-frame-contract:before {
  content: "\e90a";
}
.icon-frame-expand:before {
  content: "\e90b";
}
.icon-magnifier:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-move:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-phone-handset:before {
  content: "\e910";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-pinterest:before {
  content: "\ead1";
}
