@import '../assets/style/variables.sass'
@import '../assets/style/media-queries.scss'
.switch
  font-size: 1.4rem
  letter-spacing: .2rem
  font-weight: bold
  text-transform: uppercase
  position: absolute;
  top: 4rem
  background: $black
  color: $white
  height: 4rem
  display: flex
  vertical-align: middle
  align-items: center
  justify-content: space-between;
  width: 5rem
  text-align: center
  overflow: hidden

  @include media(">phone")
    width: 7rem

  @media (max-height: 500px)
    top: 1rem

  input[type="radio"]
    position: relative
    display: inline-block
    appearance: none

    width:  50%
    height: 100%

    outline: none !important
    border: none
    margin: 0

    &::before
      position: relative
      top:  0
      left: 0
      display: block
      content: ''
      background: $black
      border: none
      box-shadow: none

      width:  100%
      height: 100%

    &:checked::before
      background: grey

  label
    position: absolute
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    cursor: pointer

    &:last-child
      left: 50%
