#app
  height: 100%

.page
  display: flex
  height: 100%
  background-color: $white

.view-wrapper
  position: relative
  overflow: scroll
  height: 100%
  width: 100%

  @include media(">=tablet")
    overflow: hidden

.layout-dispatch
  display: flex
  flex-wrap: wrap
  width: 100%

  > div
    width: 100%

  @include media(">=tablet")
    height: 100%

    > div
      width: 50%
      height: 100%

      &:first-child
        width: 60%

      &:last-child
        width: 40%

      // &:first-child
      //   max-width: 100vh

      // &:last-child
      //   max-width: calc(100% - 100vh)
      //   min-width: 400px

  // Decoration
  &:before,
  &:after
    content: ''
    position: fixed
    height: 1.6rem
    bottom: 0
    right: 3rem
    width: .2rem
    background-color: $black

  &:before
    height: .4rem
    width: 1.6rem
    top: 3rem
    left: 0
    background-color: $gray