=list
  display: flex
  flex-direction: column
  list-style-type: none
  margin: 0
  padding: 0

=fill
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

=scroll
  overflow: auto
  overflow-scrolling: touch

  & > .inner
    position: relative
    transform: translateZ(0)
    overflow: hidden

=fullscreen
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  transform: translateX(-50%) translateY(-50%)
  background-size: cover

=dark
  background-color: $black
  // color: $white

=light
  background-color: $white
  color: $black

=reveal($direction)
  transform: translate3d(0,-100%,0)
  @if $direction == 'left'
    transform: translate3d(100%,0,0)
  @if $direction == 'right'
    transform: translate3d(-100%,0,0)
  @if $direction == 'bottom'
    transform: translate3d(0,100%,0)

=revealReverse($direction)
  transform: translate3d(0,100%,0)
  @if $direction == 'left'
    transform: translate3d(-100%,0,0)
  @if $direction == 'right'
    transform: translate3d(100%,0,0)
  @if $direction == 'bottom'
    transform: translate3d(0,-100%,0)

  // &.reverse:after
    // @include appearReverse($direction)
  // &.hover-appear:hover:after
  //   transform: translate3d(0,0,0)
  //   animation: hide-reveal-#{$direction} 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both

=hide-reveal($direction)
  @keyframes hide-reveal-#{$direction}
    @if $direction == 'left'
      0% { transform: translate3d(100%,0,0) }
      20% { transform: translate3d(0,0,0) }
      100% { transform: translate3d(-100%,0,0) }
    @if $direction == 'right'
      0% { transform: translate3d(-100%,0,0) }
      20% { transform: translate3d(0,0,0) }
      100% { transform: translate3d(100%,0,0) }
    @if $direction == 'top'
      0% { transform: translate3d(0,100%,0) }
      20% { transform: translate3d(0,0,0) }
      100% { transform: translate3d(0,-100%,0) }
    @if $direction == 'bottom'
      0% { transform: translate3d(0,-100%,0) }
      20% { transform: translate3d(0,0,0) }
      100% { transform: translate3d(0,100%,0) }
