@import 'mixin.sass';

$speed: .8s

// Appear transition
.appear-top,
.appear-bottom,
.appear-left,
.appear-right,
.appear
  position: relative
  overflow: hidden
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    z-index: 40
    top: 0
    left: 0
    background: #fff
    transition-property: transform, opacity;
    transition-duration: $speed;
    transition-delay: $speed;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.2, 1)

.appear:after
  opacity: 0

.appear-left:after
  transform: translate3d(100%,0,0)

.appear-right:after
  transform: translate3d(-100%,0,0)

.appear-top:after
  transform: translate3d(0,100%,0)

.appear-bottom:after
  transform: translate3d(0,-100%,0)

.appear-delay:after
  transition-delay: $speed * 1.5

.appear-left-leave-active:after
  transition-delay: 0 !important


.appear-enter-active , .appear-leave-active
  transition-property: all;
  transition-duration: $speed;
  transition-delay: $speed;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.2, 1)


.appear-enter, .appear-leave-active
  &:after
    opacity: 1
    transform: translate3d(0,0,0)

// Fade transition
.fade-enter-active, .fade-leave-active
  transition-property: opacity;
  transition-duration: .5s;

.fade-enter-active
  transition-delay: .5s;

.fade-enter, .fade-leave-active
  opacity: 0;