@import './media-queries.scss'

html, body
  color: $black
  font-family: 'Poiret One', Arial, cursive
  font-weight: 700
  font-size: 62.5%
  letter-spacing: 0.04rem
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  @include media(">=large")
    font-size: 80%


p
  font-size: 1.6rem
  line-height: 2.4rem
  max-width: 35rem

  &:last-child
    margin-bottom: 0

bold
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,h2,h3,h4,h5
  margin: 0

.page-title
  margin-top: 0
  margin-bottom: 4rem
  text-transform: uppercase
  font-size: 1.7rem
  letter-spacing: .2rem
  line-height: 1.5rem

.page-subtitle
  display: block
  margin-bottom: 1rem
  letter-spacing: .2rem
  line-height: 1.6rem
  text-transform: capitalize
  font-size: 1.4rem

  span
    padding-left: 1px