@import '../mixin.sass'
@import '../media-queries.scss'

$transitionTime: 500ms
$transitionTimeLeave: 100ms

.slide-page-enter-active
  transition-duration: $transitionTime

.slide-page-leave-active
  transition-duration: $transitionTime
  @include media(">tablet")
    transform: translate3d(0,-100%,0)

.slide-page-enter
  opacity: 0
  @include media(">tablet")
    transform: translate3d(0,100%,0)

.reverse
  .slide-page-enter, .slide-page-leave-active
    @include media(">tablet")
      transform: translate3d(0,-100%,0)