@import '../mixin.sass'
$transitionTime: 500ms
$transitionTimeLeave: 600ms

.page:after
  background-color: #fff
  background-color: rgba(255,255,255,1)
  content: ''
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  transition: transform $transitionTime ease-in-out
  @include reveal(null)

.reveal-page-enter-active
  transition-property: all
  transition-duration: $transitionTime
  &:after
    transition-duration: $transitionTime

.reveal-page-enter, .reveal-page-leave-active
  &:after,
  &.reverse:after
    transform: translate3d(0,0,0)

.reveal-page-leave-active
  transition-property: all
  transition-duration: $transitionTimeLeave
  &:after
    transition-duration: $transitionTimeLeave

.reveal-page-leave:after
  transform: translate3d(0,100%,0)
  transition: 0s all


.reverse
  // Order between .reveal-page and .reveal-page-enter matter  
  .page:after
    @include revealReverse(null)

  .reveal-page-enter, .reveal-page-leave-active
    &:after,
    &.reverse:after
      transform: translate3d(0,0,0)

  .reveal-page-leave:after
    transform: translate3d(0,-100%,0)