<template>
  <div class="page layout-dispatch">
    
    <transition name="appear">
      <div class="box-image appear-left" v-if="isShowing">
        <img src="/static/artist/portrait_ML1.jpg" alt="Muriel Lhermet">
      </div>
    </transition>
    
    <transition name="appear">
      <div class="box-text appear-left appear-delay" v-if="isShowing">
        <div class="box-text-top">
          <h1 class="page-subtitle">Muriel Lhermet</h1>
          <h2 class="page-title">{{ $t('artist.title')}}</h2>
          <p>{{$t('artist.desc')}}</p>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
  export default {
    name: 'artist',

    data() {
      return {
        isShowing: false,
      };
    },

    mounted() {
      this.isShowing = true;
    },

    beforeDestroy() {
      this.isShowing = false;
    },
  };
</script>

<style scoped lang="sass" scoped>
  @import '../assets/style/boxes.sass'

  .box-image
    img
      object-position: bottom right

</style>
