<template>
  <div class="page dark">
    <transition name="appear">
      <div class="page-title-container appear-left" v-if="isShowing">
        <a class="page-subtitle" href="#/collections">
            <span class="icon-arrow-left"></span>
            Collection
        </a>
        <h2 class="page-title">{{ pageCollection | humanize }}</h2>  
      </div>
    </transition>
    <transition name="appear">
      <div class="carousel-container appear-left" :class="{ active: isShowing }" v-if="isShowing">
        <Carousel :collections="collections" :path="imagePath" showLoading=true showCaption=true effect="fade" :speed="600"></Carousel>
      </div>
    </transition>
  </div>
</template>

<script>
  import Carousel from '@/components/Carousel';
  import data from '../data/collections.json';
  
  const collections = data.collections;

  export default {
    name: 'collections',
    components: {
      Carousel,
    },

    data() {
      return {
        pageCollection: '',
        imagePath: '',
        collections,
        isShowing: false,
      };
    },

    created() {
      this.pageCollection = this.$route.params.id;
      this.collections = this.collections.filter(el => el.name === this.pageCollection)[0].images;
      this.imagePath = `static/collections/${this.pageCollection}/`;
    },

    mounted() {
      this.isShowing = true;
    },

    beforeDestroy() {
      this.isShowing = false;
    },

    filters: {
      humanize: (value = '') => {
        let v = value.replace(/[_-]/g, ' ');
        v = v.charAt(0).toUpperCase() + v.slice(1);
        return v;
      },
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  .page
    flex-direction: column
    @include media(">=tablet")
      flex-direction: row

  .page-title-container
    width: 40rem
    padding-top: 4rem
    padding-bottom: 3rem
    position: relative
    z-index: 1

  .page-title
    padding-left: 2rem

  .page-subtitle
    display: inline-block
    background-color: #222
    color: #fff
    vertical-align: middle
    height: 4rem
    line-height: 4rem
    padding: 0 2rem 0 1rem
    margin-bottom: 3rem

  .carousel-container
    position: absolute
    height: 100%
    right: 5rem
    left: 40rem
    width: auto
    opacity: 0
    transition: opacity .3s ease-in

    &.active
      opacity: 1
      transition-delay: 3s

    @include media("<tablet")
      left: 20rem
    
    @include media("<=tablet", "landscape")
      right: 0
      background-color: $white
      z-index: 50

    @include media("portrait")
      top: 12rem
      width: 100%

      @include media("<large")
        height: calc(100% - 32rem)
        left: 0

      @include media("<tablet")
        height: calc(100% - 22rem)

    img
      object-position: right bottom

      @include media("<=large", "portrait")
        height: 100%
        object-fit: contain
        object-position: center

  .active
    .slick-prev,
    .slick-next
      position: fixed

  @include media("<=tablet", "landscape")
    .slick-arrow
      bottom: 2rem

  .dark
    .page-title-container
      position: absolute
      height: calc(100% - 24rem)
      width: 100%

      @include media("<desktop", "portrait")
        height: 50%

      @include media("landscape")
        width: calc(100% - 5rem)

        @include media("<tablet")
          padding-top: 2rem
          height: calc(100% - 18rem)

          .page-title
            line-height: 2.2rem
            max-width: 16rem

</style>
