<template>
  <div class="collection page">
    <div class="layout-dispatch">
      <transition name="appear">
        <div class="box-image appear-left" v-if="isShowing">
          <div class="image-wrapper" v-for="(collection, index) in collections" :key="index" v-show="active === index">
            <router-link :to="'/collection/' + collection.name">
              <img class="fullHeight" :src="'static/collections/'+collection.name+'/'+collection.images[0].path+'.jpg'" :alt="collection.images[0].name">
            </router-link>
          </div>
        </div>
      </transition>
      <transition name="appear">
        <div class="box-text appear-left appear-delay" v-if="isShowing">
          <div class="box-text-top">
            <h1 class="page-subtitle">Muriel Lhermet</h1>
            <h2 class="page-title">{{ $t('collections.title')}}</h2>
          </div>
          
          <div class="list-wrapper"  v-bind:class="{ oldCollection: collectionType}">
            <router-link :to="'/collection/' + collection.name" v-for="(collection, index) in collections" :key="index" v-bind:class="{ active: active === index, oddCollection: collection.collection_type}">
              <h3 class="list-title" @mouseover="displayCollection(index)">
                {{ collection[$i18n.locale] }}
                <span class="icon-arrow-right"></span>
              </h3>
            </router-link>
            <div class="nav-bar" v-bind:style="{ transform: offsetTop }"></div>
          </div>

          <div class="box-text-bottom">
            <div class="switch">
              <input type="radio" id="newCollection" value="0" v-model="collectionType" v-bind:value="0" v-on:change="changeCollection()">
              <label for="newCollection">Collections recentes <span class="icon-arrow-right"></span></label>
              <input type="radio" id="oldCollection" value="1" v-model="collectionType" v-bind:value="1" v-on:change="changeCollection()">
              <label for="oldCollection">Collection privees <span class="icon-arrow-right"></span></label>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import data from '../data/collections.json';
  
  const collections = data.collections;
  const newCollection = collections.filter(collection => collection.collection_type === 0).length;

  export default {
    name: 'collections',
    data() {
      return {
        isShowing: false,
        collectionType: 0,
        collections,
        active: 0,
        newCollection,
        offsetTop: 0,
      };
    },

    mounted() {
      this.isShowing = true;
    },

    beforeDestroy() {
      this.isShowing = false;
    },

    filters: {
      humanize: (value = '') => {
        let v = value.replace(/[_-]/g, ' ');
        v = v.charAt(0).toUpperCase() + v.slice(1);
        return v;
      },
    },

    methods: {
      displayCollection(index) {
        this.$nextTick(() => {
          this.active = index;
        });
      },

      changeCollection() {
        if (this.collectionType) {
          this.offsetTop = `translateY(-${newCollection * 100}%)`;
          this.active = newCollection;
        } else {
          this.offsetTop = 'translateY(0)';
          this.active = 0;
        }
      },
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/boxes.sass'
  @import '../assets/style/inputs.sass'

  $item-height: 5rem
  $element-count: 12
  $start: 0

  .box-image
    @include media(">=tablet")
      position: relative

      img
        object-fit: contain
        object-position: right center

  .box-text
    @include media("<tablet")
      display: flex
      flex-direction: column

    .box-text-top
      padding-bottom: 0
    
  .list-title
    font-size: 1.7rem
    letter-spacing: .2rem
    letter-spacing: .2rem
    padding: 0
    height: 100%
    display: flex
    align-items: center
    margin: 0
    padding-left: 4rem
    justify-content: space-between

    span 
      transition: all ease-in .3s
      padding-right: 4rem
      opacity: 0

    &:hover span
      opacity: 1
      transform: translateX(1rem)

  .nav-bar
    transition: all 0.32s ease-in-out
    position: absolute
    height: $item-height
    width: 0
    top: 0
    left: 0
    border-left: 3px solid $black
    z-index: 1

  .appear-enter-active .nav-bar
    opacity: 0

  .image-wrapper
    position: absolute
    height: 100%
    width: 100%

  .list-wrapper
    position: relative
    padding-bottom: 4rem
    background: #fff
    z-index: 2

    a
      overflow: hidden
      height: $item-height
      display: block
      @for $i from 1 through $element-count
        &:nth-child(#{$i})
          &.active ~ .nav-bar
            top: ($i - 1) * $item-height
          &:hover,
          &:focus
            ~ .nav-bar
              top: ($i - 1) * $item-height !important

      &.oddCollection
        height: 0

    &.oldCollection
      a
        height: 0

        &.oddCollection
          height: $item-height

  .box-text .box-text-bottom
    padding: 0 2rem
    height: 5rem
    display: block
    overflow: hidden
    width: 23rem
    margin-left: 4rem
    margin-bottom: 2rem

  .switch 
    text-align: left
    background: none
    top: auto
    height: 5rem
    width: 40rem
    
    label
      font-weight: 100
      text-transform: capitalize
      font-size: 1.5rem
      flex-direction: row
      justify-content: left
      align-items: center
      span
        padding-left: 10px
      &,
      &:last-child
        left: 0
    input[type="radio"]
      display: block
      z-index: 2
      cursor: pointer
      width: 100%
      &:before
        background: none
      + label
        display: flex
      &:checked
        display: none
        + label
          display: none

</style>
