<template>
  <div class="page layout-dispatch">

    <transition name="appear">
      <div class="box-image appear-left" v-if="isShowing">
        <Carousel :collections="collections" :path="imagePath" effect="pan" autoplaySpeed="5000"></Carousel>
      </div>
    </transition>

    <transition name="appear">
      <div class="box-text appear-right" v-if="isShowing">
        <div class="box-text-top">
          <h1 class="page-subtitle">Muriel Lhermet</h1>
          <h2 class="page-title">{{ $t('exhibitions.title')}}</h2>
          <div class="exhibition" v-for="(exhibition, index) in exhibitions" :key="index">
            <div class="year">
              {{ exhibition.year }}
            </div>
            <div class="list" v-for="(line, index) in exhibition.list" :key="index">
              {{ line }}
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import Carousel from '@/components/Carousel';
  import exhibitions from '../data/exhibitions.json';
  import data from '../data/expositions.json';

  const collections = data.images;

  export default {
    name: 'exhibitions',
    components: {
      Carousel,
    },

    data() {
      return {
        isShowing: false,
        exhibitions: exhibitions.exhibitions,
        imagePath: 'static/expositions/',
        collections,
      };
    },

    mounted() {
      this.isShowing = true;
    },

    beforeDestroy() {
      this.isShowing = false;
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/boxes.sass'
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  .year
    font-size: 2rem
    margin-top: 2rem
    margin-bottom: 1rem
    line-height: 3rem

  @include media(">=tablet")
    .page-title
      margin-bottom: 6rem

  .list
    font-size: 1.6rem
    line-height: 2.4rem

    &:last-child
      margin-bottom: 5rem

</style>

