<template>
  <div class="page" :class="{ active: isShowing, ready: bgReady }">
    <lazy-background
        :image-source="imagePath"
        loading-image="/static/loading.svg"
        error-image="/img/error.png"
        image-class="home-bg"
        :image-success-callback="successCallback"
        >
      </lazy-background>
    <h1 class="title appear"  v-if="isShowing">Muriel Lhermet</h1>
      
    <svg class="muriel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="30%" height="100%" viewBox="0 0 66.709 7.64" enable-background="new 0 0 66.709 7.64" xml:space="preserve">
      <defs>
        <pattern id="img1" x="0" y="0" width="1" height="1">
          <image width="1000" height="247" class="intro_anim"
                xlink:href="/static/intro/intro_1.jpg"/>
        </pattern>
      </defs>
      <g>
        <path d="M7.69,0v7.5H7.36V0.39L3.82,7.64L0.3,0.39V7.5H0V0h0.48l3.37,6.92L7.23,0H7.69z"/>
        <path d="M11.48,7.64h-0.1c-0.613,0-1.132-0.213-1.555-0.64S9.19,6.037,9.19,5.39V0h0.33v5.38c0,0.567,0.183,1.037,0.55,1.41
          s0.82,0.56,1.36,0.56c0.54,0,0.991-0.185,1.355-0.555c0.363-0.37,0.545-0.841,0.545-1.415V0h0.33v5.37
          c0,0.653-0.212,1.195-0.635,1.625C12.602,7.425,12.086,7.64,11.48,7.64z"/>
        <path d="M15.16,0h0.43c0.646,0,1.215,0.238,1.705,0.715c0.49,0.477,0.735,1.037,0.735,1.68c0,0.644-0.25,1.202-0.75,1.675
          c-0.5,0.474-1.037,0.71-1.61,0.71H15.6l2.58,2.72h-0.43l-2.27-2.38V7.5h-0.32V0z M15.479,4.49h0.18c0.54,0,1.017-0.207,1.43-0.62
          c0.413-0.414,0.62-0.903,0.62-1.47c0-0.566-0.213-1.06-0.64-1.48c-0.427-0.42-0.914-0.63-1.46-0.63h-0.13V4.49z"/>
        <path d="M19.279,0h0.33v7.5h-0.33V0z"/>
        <path d="M21.16,0h2.69v0.29h-2.36v4.08h1.97v0.29h-1.97v2.55h2.36V7.5h-2.69V0z"/>
        <path d="M25.18,0v7.21h2.32V7.5h-2.65V0H25.18z"/>
        <path d="M32.279,0v7.21h2.32V7.5h-2.65V0H32.279z"/>
        <path d="M41.02,0h0.33v7.5h-0.33V4.64h-5.14V7.5h-0.33V0h0.33v4.35h5.14V0z"/>
        <path d="M42.849,0h2.69v0.29h-2.36v4.08h1.97v0.29h-1.97v2.55h2.36V7.5h-2.69V0z"/>
        <path d="M46.539,0h0.43c0.646,0,1.215,0.238,1.705,0.715c0.49,0.477,0.735,1.037,0.735,1.68c0,0.644-0.25,1.202-0.75,1.675
          c-0.5,0.474-1.037,0.71-1.61,0.71h-0.07l2.58,2.72h-0.43l-2.27-2.38V7.5h-0.32V0z M46.859,4.49h0.18c0.54,0,1.017-0.207,1.43-0.62
          c0.413-0.414,0.62-0.903,0.62-1.47c0-0.566-0.213-1.06-0.64-1.48c-0.427-0.42-0.914-0.63-1.46-0.63h-0.13V4.49z"/>
        <path d="M58.299,0v7.5h-0.33V0.39l-3.54,7.25l-3.52-7.25V7.5h-0.3V0h0.48l3.37,6.92L57.839,0H58.299z"/>
        <path d="M59.799,0h2.69v0.29h-2.36v4.08h1.97v0.29h-1.97v2.55h2.36V7.5h-2.69V0z"/>
        <path d="M66.709,0v0.29h-1.71V7.5h-0.33V0.29h-1.73V0H66.709z"/>
      </g>
      <rect 
        x="30" y="11"
        fill="#c6c3b9" 
        width="6" 
        height=".2"
      >
        <animate 
          attributeName="x" 
          attributeType="XML"
              values="30; 60; 30; 1; 30"
            begin="0s" dur="2s" repeatCount="indefinite" />
      </rect>
    </svg>
  </div>
</template>

<script>
import VueLazyBackgroundImage from 'vue-lazy-background-images';

export default {
  name: 'home',
  components: {
    'lazy-background': VueLazyBackgroundImage,
  },

  data() {
    return {
      isShowing: false,
      bgReady: false,
      imagePath: '',
      imagesPath: '/static/intro/',
    };
  },

  mounted() {
    // Triger page elements animation
    this.isShowing = true;
    this.imagePath = `http://res.cloudinary.com/ahoy/image/upload/c_fill,dpr_1.0,f_auto,h_${parseInt(window.innerHeight, 10)},w_${parseInt(window.innerWidth, 10)},q_auto:best/v1/lhermet/la-ronde-de-nuit-detail.jpg`;
  },

  beforeDestroy() {
    // Triger page elements animation
    this.isShowing = false;
  },

  methods: {
    successCallback() {
      // Dispaly background only when large image is ready
      this.bgReady = true;
    },
  },
};
</script>

<style lang="sass" scoped>

  .page
    justify-content: center

  .home-bg
    position: absolute
    background-size: cover
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: center

  .ready
    rect, path
      transition: opacity ease-in .2s
      opacity: 0

  .intro_anim
    transform: translate3d(30px,0,0)
    transition: transform ease-in 3s

  .active
    .intro_anim
      transform: translate3d(0,0,0)

  .ready
    .intro_anim
      animation-direction: reverse

  .title
    position: absolute
    right: 6.5rem
    top: 4rem
    height: 4rem
    font-size: 3rem
    color: #fff
    display: flex
    letter-spacing: 2px
    align-items: center
    opacity: 0
    animation : .6s linear 2s normal none 1 show
    animation-iteration-count: 1
    animation-fill-mode: forwards
    margin: 0

    &::selection
      background: transparent

    @media (max-height: 500px)
      top: 1rem

  @keyframes show
    0%
      opacity: 0
    100%
      opacity: 1


  path
    stroke: #fff
    stroke-dasharray: 70
    stroke-dashoffset: 70
    stroke-width: 1px
    animation : 10s linear .15s normal none infinite base
    fill: url(#img1)

  rect
    fill: url(#img1)

  @keyframes base
    15%
      stroke-dashoffset: 70
    25%
      stroke-dashoffset: 0
    75%
      stroke-dashoffset: 0
    85%
      stroke-dashoffset: 70

  $gap: 10px
  .grid
    display: grid;
    width: 100%
    height: 100vh
    grid-auto-rows: calc(100vh / 30 - #{$gap})
    grid-auto-columns: calc(100% / 30 - #{$gap})
    justify-content: center
    align-content: center
    grid-gap: $gap
    pointer-events: none

</style>
