<template>
  <div class="page layout-dispatch">
    
    <transition name="appear">
      <div class="box-image appear-left" v-if="isShowing">
        <Carousel :collections="collections" effect="pan"></Carousel>
      </div>
    </transition>

    <transition name="appear">
      <div class="box-text appear-left appear-delay" v-if="isShowing">
        <div class="box-text-top">
          <h1 class="page-subtitle">Muriel Lhermet</h1>
          <h2 class="page-title">{{ $t('workshop.header')}}</h2>
          <p v-html="$t('workshop.desc')"></p>
        </div>
        <div class="box-text-bottom address">
          <a href="https://www.google.fr/maps/place/Atelier+Muriel+Lhermet/@44.065276,1.952589,15z/data=!4m5!3m4!1s0x0:0xca352b6d90e5dcad!8m2!3d44.065276!4d1.952589" target="_blank" title="Atelier Muriel Lhermet 5, rue des Jardins 81170 Cordes-sur-Ciel">
            <span class="icon-room"></span>Atelier Muriel Lhermet
            <br>
            5, rue des Jardins
            <br>
            81170 Cordes-sur-Ciel
          </a>
          <a href="tel:+33673182309">
            06 73 18 23 09
          </a>
          <a href="mailto:muriellhermet@gmail.com" target="_top">
            muriellhermet@gmail.com
          </a>
        </div>
      </div>
    </transition>

  </div>
</template>

<script>
  import Carousel from '@/components/Carousel';
  import data from '../data/workshop.json';

  const collections = data.images;

  export default {
    name: 'workshop',
    components: {
      Carousel,
    },

    data() {
      return {
        isShowing: false,
        imagePath: 'static/atelier/',
        collections,
      };
    },

    mounted() {
      // Triger page elements animation
      this.isShowing = true;
    },

    beforeDestroy() {
      // Triger page elements animation
      this.isShowing = false;
    },
  };
</script>

<style scoped lang="sass">
  @import '../assets/style/boxes.sass'
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  .address
    font-size: 1.6rem
    line-height: 2.3rem
    font-weight: bold
    display: flex
    flex-direction: column
    height: 25rem
    justify-content: space-evenly
    width: 21rem
    margin-top: 4rem
    a
      position: relative
      transition: padding-left .75s cubic-bezier(.19,1,.22,1);

      &:before
        content: ''
        position: absolute;
        display: block;
        width: calc(100% + .6em);
        height: calc(100% + 10px);
        top: -5px;
        transform: scaleX(0);
        transform-origin: left top;
        background: $black;
        z-index: -1

      &:hover
        padding-left: .5em
        color: $white

        &:before
          transform: scale(1);
          right: -1rem;
          transition: transform .75s cubic-bezier(.19,1,.22,1);

  .icon-room
    position: absolute
    left: -2.5rem
    top: .2rem
  // .box-text 
  //   @include media("<tablet", "portrait")
  //     .box-text-top
  //       margin-bottom: 250px

  //     .box-text-bottom
  //       position: fixed
  //       z-index: 0
  //       bottom: 0

</style>
