<template>
  <button class="burger" @click="toggleNav()">Toggle menu</button>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'burger',
    methods: {
      // Update navigation bar status with vuex store
      ...mapActions([
        'toggleNav',
      ]),
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'

  .burger
    background-color: $black
    display: flex
    position: absolute
    top: 4rem
    right: 0
    margin: 0
    padding: 0
    width: 5rem
    height: 4rem
    font-size: 0
    text-indent: -9999px
    z-index: 40
    appearance: none
    box-shadow: none
    border-radius: 0
    border: none
    cursor: pointer
    transform: translateX(200%)
    animation : .6s ease-out 1.5s normal none infinite showburger
    animation-iteration-count: 1
    animation-fill-mode: forwards
    overflow: hidden

    @media (max-height: 500px)
      top: 1rem

    @media (max-width: 320px)
      top: 0rem

    &:focus
      outline: 0

    &:before,
    &:after
      content: ''
      display: block
      height: 2px
      width: 3rem
      background-color: $white
      transition: transform .1s ease-in-out, margin-top .1s ease-in-out .1s
      position: absolute
      left: 50%
      top: 50%
      margin-left: -1.5rem

    &:before
      margin-top: -0.6rem

    &:after
      margin-top: 0.6rem

  .open-nav
    .burger
      &:before,
      &:after
        transition: transform .1s ease-in-out .1s, margin-top .1s ease-in-out

      &:before
        transform: rotate(45deg)
        margin-top: 0

      &:after
        transform: rotate(-45deg)
        margin-top: 0


  @keyframes showburger
    0%
      transform: translateX(200%)
      height: 0rem
    
    50%
      transform: translateX(0)
      height: 0rem

    100%
      transform: translateX(0)
      height: 4rem
      

</style>
