<template>
  <caption :class="effect">
    <SlickCaptions :top="currentCollection.name" 
                   :bottom="currentCollection.dimension" 
                   :show="updateSlide" v-if="showCaption"></SlickCaptions>

    <LoadingBar :currentSlide="currentSlide" 
                :max="collections.length" 
                :isShowing="updateSlide" v-if="showLoading"></LoadingBar>

    <slick id="collectionCarousel" ref="slick"
      :options="slickOptions"
      @beforeChange="beforeChange"  
      @afterChange="afterChange">
      <div v-for="(collection, index) in collections" :key="index">
        <img v-on:load="loaded" :class="{ready: carouselReady}"
             class="contain" :src="path+collection.path+'.jpg'" :alt="collection.name" v-if="path">
        <img v-bind:style="{transitionDuration: slickOptions.autoplaySpeed}"
              :class="{ready: carouselReady}"
             v-cl-image="collection.path" responsive
             v-bind:height="height"
             crop="fill"
             dpr="auto"
             quality="auto:best"
             v-on:load="loaded"
             fetch-format="auto" v-else>
      </div>
    </slick>
  </caption>
</template>

<script>
  import Slick from 'vue-slick';
  import SlickCaptions from '@/components/Figcaption';
  import LoadingBar from '@/components/LoadingBar';
  import slickOptions from '../data/slickOptions.json';
  
  export default {
    name: 'carousel',
    props: ['collections', 'showLoading', 'path', 'showCaption', 'effect', 'speed', 'autoplaySpeed'],
    components: {
      Slick,
      SlickCaptions,
      LoadingBar,
    },

    data() {
      return {
        isShowing: false,
        updateSlide: true,
        carouselReady: false,
        currentCollection: '',
        currentSlide: 1,
        slickOptions,
        height: '',
      };
    },

    created() {
      if (this.autoplaySpeed) {
        this.slickOptions.autoplaySpeed = parseInt(this.autoplaySpeed, 10) +
                                     parseInt(slickOptions.speed, 10);
      }
      if (this.speed) {
        this.slickOptions.speed = parseInt(this.speed, 10);
      }
      this.height = parseInt(window.innerHeight, 10);
    },

    mounted() {
      this.isShowing = true;
      this.currentCollection = this.collections[0];
      setTimeout(() => {
        this.carouselReady = true;
      }, 3000);
    },

    beforeDestroy() {
      this.isShowing = false;
    },

    methods: {
      beforeChange() {
        this.updateSlide = false;
      },

      afterChange(slick, d, currentSlide) {
        this.currentSlide = currentSlide + 1;
        this.currentCollection = this.collections[currentSlide];
        this.updateSlide = true;
      },

      loaded(e) {
        const img = e.target;
        const container = this.$el.offsetWidth;
        const pan = (1 - (img.width / container)) * container;
        img.setAttribute('style', `transform: translate3d(${pan}px,0,0); transition-duration: ${this.slickOptions.autoplaySpeed + this.slickOptions.speed}ms`);
        return true;
      },
    },
  };
</script>

<style lang="sass">
  @import '../../node_modules/slick-carousel/slick/slick.css';
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  caption
    width: 100%
    height: 100%
    position: absolute
    z-index: 2
    
  .slick-list,
  .slick-slider,
  .slick-track
    height: 100%
    width: 100%
    outline: 0

  .slick-list
    position: absolute
    left: 0

  .slick-arrow
    cursor: pointer
    position: absolute
    bottom: 4rem
    background-color: $black
    z-index: 5
    border: none
    color: transparent
    font-size: 0
    display: flex
    height: 4rem
    width: 5rem
    justify-content: center
    outline: 0
    border-radius: 0
    position: fixed
    &:before
      color: $white
      font-size: 3rem

  .slick-prev
    left: 0

  .slick-next
    left: 5rem

  .slick-slider
    img
      object-fit: contain
      height: 100%
      width: 100%
      @include media(">=tablet")
        object-position: center
        height: 100%

  .slick-slide
    @include media(">=tablet")
      opacity: 0

  .slick-active
    opacity: 1

  .fade
    .slick-current
      transform: translate3d(0,0,0)

    .slick-active
      animation: slideMove .3s ease-in-out

    @include media("<tablet", "portrait")
      .slick-prev, 
      .slick-next
        bottom: 3.2rem

      .slick-next
        right: 0
        left: auto

  .pan
    .slick-slider
      img
        width: auto
        object-fit: fill
        object-position: left
        transition: transform 0s linear 1.5s

      img:not(.ready)
        transition: transform 0s !important

      .slick-active
        transition: all ease-in .3s

        img.ready
          transition: all linear 16s
          transform: translate3d(0,0,0) !important

    @include media("<tablet")
      .slick-prev, 
      .slick-next
        display: none !important

    @include media(">=tablet")
      position: absolute
      height: 100%      


  @keyframes slideMove
    from
      transform: translate3d(10%,0,0)
    to
      transform: translate3d(0,0,0)
    
</style>
