<template>
  <transition-group tag="figcaption" name="show" appear>
    <label :key="1" v-if="show">
      {{ top }}
    </label>
    <small class="sublabel" :key="2" v-if="show">
      {{ bottom }}
    </small>
  </transition-group>
</template>

<script>
  export default {
    name: 'figcaption',
    props: ['top', 'bottom', 'show'],
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  figcaption
    position: fixed
    left: 2rem
    bottom: 12rem
    display: flex
    flex-direction: column
    text-align: left
    justify-content: space-between
    height: 4.5rem
    text-transform: capitalise

    @include media("<desktop", "portrait")
      width: 100%
      text-align: center
      left: 50%
      transform: translateX(-50%)

    @include media("<tablet", "portrait")
      bottom: 3rem

  label
    font-size: 2rem

  small
    font-size: 1.2rem
    padding-top: 0rem
    color: $dark-grey
    transition-delay: .1s

  .show
    transition: transform ease-in .3s

  .show-enter-active, .show-leave-active
    transition-duration: .5s

  .show-enter
    opacity: 0
    transform: translate3d(100%,0,0)

  .show-leave-active
    opacity: 0
    transform: translate3d(-100%,0,0)

</style>
