<template>
  <div class="switch">
    <input type="radio" id="fr" value="fr" v-model="lang" @change="changeLanguage(lang)">
    <label for="fr">Fr</label>
    <input type="radio" id="en" value="en" v-model="lang" @change="changeLanguage(lang)">
    <label for="en">En</label>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'language',
    data() {
      return {
        lang: 'en',
      };
    },
    mounted() {
      this.lang = navigator.languages ? navigator.languages[0] :
                    (navigator.language || navigator.userLanguage);
      this.lang = this.lang.substring(0, 2);
      this.$i18n.locale = this.lang;
    },
    methods: {
      ...mapActions([
        'toggleNav',
      ]),
      changeLanguage() {
        this.$i18n.locale = this.lang;
        this.toggleNav();
      },
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/inputs.sass'
</style>
