<template>
  <div class="carousel-indicators-container appear-element-right">
    <transition name="show-indicator" >
      <div class="carousel-indicators" v-show="currentSlide < 10">
        0
      </div>
    </transition>
    <transition name="show-indicator" >
      <div class="carousel-indicators" v-show="isShowing">
        {{ currentSlide }}
      </div>
    </transition>
    <div class="carousel-time">
      <div class="carousel-time-bar" :class="{ active:isShowing }"></div>
    </div>
    <div class="carousel-time-length">
      0{{ max }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'loadingBar',
    props: ['currentSlide', 'isShowing', 'max'],
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'
  @import '../assets/style/media-queries.scss'

  .carousel-indicators-container
    position: fixed
    bottom: 4rem
    height: 4rem
    font-size: 1rem
    width: 20rem
    left: 2rem

    @include media("<desktop", "portrait")
      right: 50%
      transform: translateX(50%)

    @include media("<tablet")
      display: none

    @include media(">=desktop")
      right: auto
      left: 13rem

  .carousel-indicators
    position: absolute
    left: .9rem
    top: 50%
    transform: translateY(-50%)

    &:first-child
      left: 0

  .show-indicator
    transition: transform ease-in .2s, opacity ease-in .3s

  .show-indicator-leave-active
    transition: transform ease-in .2s .3s, opacity ease-in .2s .3s

  .show-indicator-enter-active
    transition: transform ease-in .2s, opacity ease-in .2s

  .show-indicator-enter
    opacity: 0
    transform: translate3d(0,100%,0)

  .show-indicator-leave-active
    opacity: 0
    transform: translate3d(0,-100%,0)

  .carousel-time
    width: calc(100% - 6rem)
    height: 2px
    background-color: $black
    position: absolute
    left: 3rem
    top: 50%
    transform: translateY(-50%)

  .carousel-time-bar
    height: 100%
    width: 0%
    background-color: #e5e5e5
    position: absolute

    &.active
      transition: width linear 10s
      width: 100%

  .carousel-time-length
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)


</style>
