<template>
  <div class="wrapper" @mousemove="refresh($event)" @touchmove="refresh($event)" ref="wrapper" v-bind:style="imageStyle">
    <div  class="circle" v-bind:style="circle" v-bind:class="{ active: appear }"></div>
  </div>
</template>

<script>

export default {
  name: 'magnifier',
  props: {
    image: {
      type: String,
      required: true,
    },
    width: {
      type: Number,
      default: 0,
    },
    height: {
      type: Number,
      default: 0,
    },
    cloudinary: {
      type: Boolean,
      default: true,
    },
    baseUrl: {
      type: String,
      default: 'http://res.cloudinary.com/ahoy/image/upload/f_auto,c_fill,g_center,q_auto:best,',
    },
    zoom: {
      type: Number,
      default: 2,
    },
  },

  data() {
    return {
      // the size of the magnifier window
      size: 200,
      // x position on screen
      x: '100%',
      // y position on screen
      y: '100%',
      // x position relative to the image
      offsetX: 0,
      // y position relative to the image
      offsetY: 0,
      w: this.width,
      h: this.height,
      isVisible: true,
      bgX: 0,
      bgY: 0,
      halfSize: 0,
      timeOut: null,
      appear: false,
      // the offset of the zoom bubble from the cursor
      cursorOffset: {
        x: 0,
        y: 0,
      },
      imageSrc: '',
      imageSrcZoom: '',
    };
  },

  mounted() {
    // Update images size and zoom according to screen device
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
    window.clearTimeout(this.timeOut);
  },

  methods: {
    handleResize() {
      if (this.width === 0) this.w = this.$parent.$el.clientWidth;
      if (this.height === 0) this.h = this.$parent.$el.clientHeight;

      if (this.height === '0px') this.h = window.clientHeight;

      // If the image is coming from cloudinary, then update the image dimensions to fit the container
      if (this.cloudinary) {
        this.imageSrc = `${this.baseUrl}w_${this.w},h_${this.h}/${this.image}`;
        this.imageSrcZoom = `${this.baseUrl}w_${this.w * this.zoom},h_${this.h * this.zoom}/${this.image}`;
      } else {
        this.imageSrc = this.image;
        this.imageSrcZoom = this.image;
      }
    },
    getOffset(element) {
      let x = 0;
      let y = 0;
      let el = element;
      while (el && !isNaN(el.offsetLeft) && !isNaN(el.offsetTop)) {
        x += el.offsetLeft - el.scrollLeft;
        y += el.offsetTop - el.scrollTop;
        el = el.offsetParent;
      }
      return { x, y };
    },
    refresh(e) {
      this.appear = true;
      this.offset = {
        x: 0,
        y: 0,
      };
      this.x = e.x + window.scrollX;
      this.y = e.y + window.scrollY;
      this.offsetX = e.x - this.offset.x;
      this.offsetY = e.y - this.offset.y;

      this.halfSize = this.size / 2;

      this.bgX = -((this.offsetX * this.zoom) - this.halfSize);
      this.bgY = -((this.offsetY * this.zoom) - this.halfSize);

      this.isVisible = this.offsetY < this.h &&
                       this.offsetX < this.w &&
                       this.offsetY > 0 &&
                       this.offsetX > 0;

      window.clearTimeout(this.timeOut);
      this.timeOut = window.setTimeout(() => {
        this.appear = false;
      }, 5000);
    },
  },

  computed: {
    imageStyle() {
      return {
        backgroundImage: `url(${this.imageSrc})`,
        width: `${this.w}px`,
        height: `${this.h}px`,
      };
    },
    circle() {
      return {
        width: `${this.size}px`,
        height: `${this.size}px`,
        top: `${this.y}px`,
        left: `${this.x}px`,
        marginLeft: `${(-this.halfSize + this.cursorOffset.x)}px`,
        marginTop: `${(-this.halfSize + this.cursorOffset.y)}px`,
        backgroundImage: `url(${this.imageSrcZoom})`,
        backgroundPosition: `${this.bgX}px ${this.bgY}px`,
      };
    },
  },
};
</script>

<style lang="sass" scoped>
  .wrapper
    position: absolute
    height: 100%
    width: 100%
    background-size: cover
    overflow: hidden
  
  .circle
    border-radius: 50%
    position: absolute
    opacity: 0
    transform: scale(.4)
    transition: opacity ease-out .2s, filter ease-out .5s, transform ease-out .3s
    &.active
        transition: opacity ease-in .2s, filter ease-in .5s, transform ease-in .3s
        opacity: 1
        transform: scale(1)

</style>
