
<template>
    <nav class="nav" @click="toggleNav()">
      <router-link class="nav-link" active-class="active" :to="'/' + page" v-for="(page, index) in pages" :key="index">
        {{ $t(page + '.title') }}
      </router-link>
      <div class="nav-bar"></div>
    </nav>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'nav',
    data() {
      return {
        currentPage: 0,
        pages: [
          'home',
          'collections',
          'artist',
          'workshop',
          'exhibitions',
        ],
      };
    },
    methods: {
      ...mapActions([
        'toggleNav',
      ]),
      keyboardNav(e) {
        this.currentPage = this.pages.indexOf(this.$route.name.toLowerCase());

        // Map keyboard shorcut to navigation
        switch (e.keyCode) {
          case 13: { // Enter
            this.toggleNavigation();
            break;
          }
          case 27: { // Escape
            this.toggleNavigation();
            break;
          }
          case 37: { // Down
            if (this.$route.name.match(/^(Collections|Collection)$/)) this.previousCollection();
            break;
          }
          case 38: { // Up
            this.currentPage = this.currentPage - 1;
            if (this.currentPage < 0) this.currentPage = this.pages.length - 1;
            this.$router.push(`/${this.pages[this.currentPage].toString()}`);
            break;
          }
          case 39: { // Right
            if (this.$route.name.match(/^(Collections|Collection)$/)) this.nextCollection();
            break;
          }
          case 40: { // Left
            this.currentPage = this.currentPage + 1;
            if (this.currentPage === this.pages.length) this.currentPage = 0;
            this.$router.push(`/${this.pages[this.currentPage].toString()}`);
            break;
          }
          default: { return null; }
        }
        return this.currentPage;
      },
    },
    created() {
      this.nav = this.pages.map(page => page.name);
      // Map keyboard shorcut to navigation
      window.addEventListener('keyup', this.keyboardNav);
    },
    beforeDestroy() {
      window.removeEventListener('keyup');
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'
  @import '../assets/style/mixin.sass'
  @import '../assets/style/media-queries.scss'

  // Animation bar
  $item-height: 6rem
  $element-count: 5
  $start: 0
  $transition-speed: 100ms

  .nav
    position: relative

  .nav-bar
    transition: all $transition-speed ease-in-out
    position: absolute
    height: $item-height
    width: 100%
    top: 0
    border-right: 3px solid $black
    border-left: 3px solid $black
    z-index: -1

  .nav-link
    font-size: 2.5rem
    font-size: 1.4rem
    letter-spacing: .4rem
    text-transform: uppercase
    height: $item-height
    font-weight: bold
    display: block
    cursor: pointer
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    transition: color 0.3s
    position: relative
    padding: 0 3rem
    display: flex
    justify-content: center
    flex-direction: column
    opacity: 0
    transition: opacity .2s ease-in

    &.active
      background-color: rgba(239, 239, 239,.2)
      color: $black
      &:after,
      &:before
        content: none

    &:focus
      outline: none

    @for $i from 1 through $element-count
      &:nth-child(#{$i})
        &.active ~ .nav-bar
          top: ($i - 1) * $item-height
        &:hover,
        &:focus
          ~ .nav-bar
            top: ($i - 1) * $item-height !important

  @media (max-height: 500px)
    $item-height: 4.5rem

    .nav
      display: flex
      flex-wrap: wrap
      justify-content: center

    .nav-bar
      height: $item-height

    .nav-link
      font-size: 1.8rem
      padding: 0 2rem
      height: $item-height

      @for $i from 1 through $element-count
        &:nth-child(#{$i})
          &.active ~ .nav-bar
            top: ($i - 1) * $item-height
          &:hover,
          &:focus
            ~ .nav-bar
              top: ($i - 1) * $item-height !important

  .open-nav
    .nav-link
      opacity: 1
      transition-duration: .4s
      @for $i from 1 through $element-count
        &:nth-child(#{$i})
          transition-delay: #{($i * 100)}ms

      &:hover
        background-color: rgba(249, 249, 249, .5)
        transition: background-color .25s cubic-bezier(.19,1,.22,1)
        margin-left: 3px
        margin-right: 3px
</style>
