<template>
    <aside class="aside">
      <div class="aside-wrapper">
        
        <Language></Language>
        
        <header class="title-wrapper">
          <h1 class="title">Muriel Lhermet</h1>
          <h2 class="subtitle">{{ $t("profession") }}</h2>
        </header>
        
        <Navigation></Navigation>
        
        <Social></Social>

      </div>
    </aside>
</template>

<script>
  import Navigation from '@/components/Nav';
  import Language from '@/components/Language';
  import Social from '@/components/Social';

  export default {
    name: 'sidebar',
    components: {
      Social,
      Navigation,
      Language,
    },
  };
</script>

<style lang="sass" scoped>
  @import '../assets/style/variables.sass'
  @import '../assets/style/mixin.sass'
  @import '../assets/style/media-queries.scss'

  .aside
    line-height: 1
    z-index: 30
    background: rgba(255, 255, 255, 1)
    height: 100%
    width: 100%
    transition: width ease-out .1s
    position: fixed;
    z-index: -1
    opacity: 0
    transition: opacity .3s ease-in, z-index 0s .3s
    
    @include media("<=tablet")
      pointer-events: none

  .aside-wrapper
    padding-bottom: 3rem
    height: 100%
    overflow: scroll
    display: flex
    flex-direction: column
    justify-content: space-between
    text-align: center

  .open-nav .aside
    transition: opacity ease-in .2s, z-index 0s
    z-index: 6
    opacity: 1
    pointer-events: initial

    @include media(">tablet")
      transition: opacity ease-out .3s

  .title-wrapper
    display: flex
    height: 12rem
    width: 100%
    flex-direction: column
    justify-content: center

    @media (max-height: 500px)
      height: 7rem

  .title
    font-size: 2.5rem
    margin: 0

  .subtitle
    margin-top: .6rem
    margin-bottom: .2rem
    font-size: 1.3rem
    letter-spacing: .1rem

</style>
