<template>
  <footer class="social">
    <a class="icon-markunread" href="mailto:muriellhermet@gmail.com" target="_top"></a>
    <a class="icon-facebook" href="https://www.facebook.com/muriel.lhermet" target="_blank"></a>
  </footer>
</template>

<script>
  export default {
    name: 'social',
  };
</script>

<style lang="sass" scoped>
  .social
    padding-left: 3rem
    padding-top: 3rem
    display: flex
    align-items: center
    justify-content: center
    opacity: 0
    transition: opacity .2s ease-in

    a
      font-size: 1.76rem
      padding-right: 1.6rem
      transition: all ease-in .2s

      &:hover
        transform: scale(1.1)

      &.icon-markunread
        font-size: 2rem
      
      &.icon-facebook
        font-size: 1.6rem

  .open-nav
    .social
      transition: opacity .2s ease-in .8s
      opacity: 1
      transition-duration: 1s
</style>
