<template>
  <div class="wrapper" @mousemove="refresh($event)" @touchmove="refresh($event)" ref="wrapper" :style="tilt">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'tilt',
  data() {
    return {
      is3DBuggy: false,
      maxRotationX: -2,
      maxRotationY: 2,
      maxTranslationX: 4,
      maxTranslationY: -2,
      tiltActive: true,
      win: {},
      rotX: 0,
      rotY: 0,
      transY: 0,
      transX: 0,
    };
  },

  created() {
    window.addEventListener('resize', this.handleResize);
    this.is3DBuggy = navigator.userAgent.indexOf('Firefox') > 0;
    this.handleResize();
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
  },

  methods: {
    handleResize() {
      this.win = {
        width: window.innerWidth,
        height: window.innerHeight,
      };
    },
    getMousePos(e = window.event) {
      // Move element accoding to mouse position
      // from http://www.quirksmode.org/js/events_properties.html#position
      let posx = 0;
      let posy = 0;
      if (e.pageX || e.pageY) {
        posx = e.pageX;
        posy = e.pageY;
      } else if (e.clientX || e.clientY) {
        posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
        posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
      }
      return {
        x: posx,
        y: posy,
      };
    },
    refresh(ev) {
      if (!this.tiltActive) return false;
      requestAnimationFrame(() => {
        const mousepos = this.getMousePos(ev);
        const docScrolls = {
          left: document.body.scrollLeft + document.documentElement.scrollLeft,
          top: document.body.scrollTop + document.documentElement.scrollTop,
        };
        const mouseposScroll = {
          x: mousepos.x - docScrolls.left,
          y: mousepos.y - docScrolls.top,
        };
        const posY = this.win.height / mouseposScroll.y;
        const posX = this.win.width / mouseposScroll.x;

        this.rotX = ((2 * this.maxRotationX) / posY) - this.maxRotationX;
        this.rotY = ((2 * this.maxRotationY) / posX) - this.maxRotationY;
        this.transX = ((2 * this.maxTranslationX) / posX) - this.maxTranslationX;
        this.transY = ((2 * this.maxTranslationY) / posY) - this.maxTranslationY;
      });
      return true;
    },
  },

  computed: {
    tilt() {
      if (!this.tiltActive) {
        if (this.is3DBuggy) {
          return {
            transform: 'none',
          };
        }
        return false;
      }
      return {
        transform: `perspective(1000px) translate3d(${this.transX}px, ${this.transY}px,0) rotate3d(1,0,0,${this.rotX}deg) rotate3d(0,1,0,${this.rotY}deg)`,
      };
    },
  },
};
</script>

<style lang="sass" scoped>
  .wrapper
    display: flex
    height: 100%
    width: 100%
    overflow: hidden

</style>
