<template>
  <div id="app" :class="openNav ? 'open-nav': ''" class="right">
    <Burger></Burger>
    <Sidebar></Sidebar>
    <main class="view-wrapper" :class="direction">
      <transition :name="transition.name"  :mode="transition.mode">
        <router-view></router-view>
      </transition>
    </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Burger from '@/components/Burger';
import Sidebar from '@/components/Sidebar';

export default {
  name: 'app',
  components: {
    Burger,
    Sidebar,
  },
  data() {
    return {
      direction: '',
      transition: null,
      transitions: [{
        name: 'slide-page',
        mode: 'in-out',
      }, {
        name: 'appear-page',
        mode: 'in-out',
      }, {
        name: 'reveal-page',
        mode: 'out-in',
      },
      ],
    };
  },

  created() {
    this.transition = this.transitions[1];
  },

  methods: {
    findNavigationDirection(to, from) {
      const nav = ['Home', 'Artist', 'Collections', 'Workshop'];
      this.direction = nav.indexOf(from) > nav.indexOf(to) ? '' : 'reverse';
    },
  },

  computed: {
    ...mapGetters([
      'openNav',
    ]),
  },

  watch: {
    $route(to, from) {
      this.findNavigationDirection(to.name, from.name);
    },
  },
};
</script>

<style lang="sass">
  @import './assets/style/media-queries.scss'
  @import './assets/style/variables.sass'
  @import './assets/style/reset.sass'
  @import './assets/style/helpers.sass'
  @import './assets/style/font-local.css'
  @import './assets/style/typography.sass'
  @import './assets/style/layout.sass'
  @import './assets/style/icons.css'
  @import './assets/style/transitions/page-appear.sass'
  @import './assets/style/transitions-element.sass'

  .right
    @include media(">tablet")
      flex-direction: row-reverse
</style>
